{
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "require-jsdoc": "off",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "prefer-template": "off",
    "no-var": "off",
    "max-len": ["error", 120],
    "indent": ["error", 2],
    "no-undef": 0,
    "valid-jsdoc": ["error", {
      "requireParamDescription": true,
      "requireReturn": false
    }]
  }
}
